:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #fff;
  --black: #000;
  --dark-bg: #2f303a;
  --light-bg: #f5f4fa;
  --font-color: #212121;
  --portfolio-line: #ececec;
  --card-border: #eeeeee;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --default-gap: 30px;
  --section-padding: 94px;
  --bg-color: #2f303a70;
  --svg-grey: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --hover-timing: 1250ms;
  --animation-func: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: var(--font-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/

.header-border {
  border-bottom: solid 1px var(--header-border);
  padding: 24px 0;
}

.top-header {
  display: flex;
  align-items: center;
}

.logo,
.footer-logo {
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.main-info {
  display: flex;
  margin-left: 93px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.blue-text {
  color: var(--blue);
}

.links {
  display: flex;
}

.link-item {
  display: block;
}

.link-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link,
.contact-link {
  font-size: 14px;
  font-weight: 500;

  transition: color var(--hover-timing) var(--animation-func),
    fill var(--hover-timing) var(--animation-func);
}

.nav-link:hover,
.contact-link:hover,
.nav-link:focus,
.contact-link:focus {
  color: var(--blue);
  fill: var(--blue);
}

.current {
  color: var(--blue);
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: -1.5px;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;

  border-radius: 2px;
  background-color: var(--blue);
  overflow: hidden;
  bottom: calc(-1 * (var(--default-gap) - 1px));
}

.contact-us {
  display: flex;
  margin-left: auto;
}

.contact-item {
  color: var(--grey);
  display: inline-block;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-icon {
  fill: var(--grey);
  margin-right: 10px;

  transition: fill var(--hover-timing) var(--animation-func);
}

.contact-link:hover .header-icon,
.contact-link:focus .header-icon {
  fill: var(--blue);
}

.top-bar {
  padding: 200px 0;
  background-image: linear-gradient(to right, var(--bg-color), var(--bg-color)),
    url('../images/img_bg.jpg');
  background-color: var(--dark-bg);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--white);
}

.primary-button {
  margin: 0 auto;
  margin-top: var(--default-gap);
  padding: 15px 32px;
  background-color: var(--blue);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;

  transition: opacity var(--hover-timing) var(--animation-func);
}

.primary-button:hover,
.primary-button:focus {
  opacity: 0.9;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-color);

  transition: opacity var(--hover-timing) var(--animation-func);

  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  opacity: 1;
  min-width: 528px;
  min-height: 581px;

  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: scale var(--hover-timing) var(--animation-func),
    opacity var(--hover-timing) var(--animation-func);
}

.cross-button {
  position: absolute;
  margin-top: 11px;
  margin-right: 8px;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main part*/

.features-list,
.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-element {
  text-align: left;
  flex-basis: calc(100% / 4 - 35px);
}

.svg-container {
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.feature-description {
  margin-top: 10px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.4px;
}

/* Service */

.service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 67px;
}

.service-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  list-style-type: none;
}

.service-list {
  display: flex;
}

.service-list img {
  border: none;
  vertical-align: bottom;
}

.service-element-description {
  position: relative;
}

.service-text-container {
  position: absolute;
  bottom: 0;
  padding: 27px 0;

  width: 99%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-bg);
  opacity: 0.8;
}

.service-element-text {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1.8;
}

/* Team */

.team {
  background-color: var(--light-bg);
}

.team-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.team-item {
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: var(--default-gap);
}

.teammate-position {
  margin-top: 10px;
  font-size: 16px;
  color: var(--grey);
}

.social-media-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.teammate-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.teammate-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--hover-timing) var(--animation-func);
}

.teammate-link:hover,
.teammate-link:focus {
  background-color: var(--blue);
}

.teammate-social-icon {
  fill: var(--svg-grey);

  transition: fill var(--hover-timing) var(--animation-func);
}

.teammate-link:hover .teammate-social-icon,
.teammate-link:focus .teammate-social-icon {
  fill: var(--white);
}

/* Clients */
.clients-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.clients-svg-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.client-svg-item:not(:first-child) {
  margin-left: 30px;
}

.company-logo-link {
  height: 92px;
  width: 170px;
  border: 1px solid var(--svg-grey);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border var(--hover-timing) var(--animation-func);
}

.company-logo-link:hover,
.company-logo-link:focus {
  border: 1px solid var(--blue);
  cursor: pointer;
}

.clients-svg-item:not(:first-child) {
  margin-left: 30px;
}

.client-svg-logo {
  fill: var(--svg-grey);

  transition: fill var(--hover-timing) var(--animation-func);
}

.company-logo-link:hover .client-svg-logo,
.company-logo-link:focus .client-svg-logo {
  fill: var(--blue);
}

/* Footer */

.page-footer {
  background-color: var(--dark-bg);
}

.footer-content {
  color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 60px 0;
}

.footer-contacts {
  font-style: normal;
  font-family: inherit;
  margin-top: 20px;
}

.footer-address-item {
  color: var(--white);
  font-size: 14px;
  font-weight: inherit;
  line-height: 2.5;

  transition: color var(--hover-timing) var(--animation-func);
}

.footer-contact-item {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 2.2;
  list-style: none;
}

.footer-contact-link {
  color: inherit;

  transition: color var(--hover-timing) var(--animation-func);
}

.footer-contact-link:focus,
.footer-contact-link:hover {
  color: var(--blue);
}

.social-media-title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
}

.social-media {
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  padding-top: 10px;
}

.social-media-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.social-media-item:not(:first-child) {
  margin-left: 10px;
}

.footer-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff10;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--hover-timing) var(--animation-func);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--blue);
}

/* Portfolio */

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  display: inline;
  border-radius: 4px;
  border: none;
  padding: 10px 23px;
  background-color: var(--light-bg);
  font-family: inherit;
  font-weight: 500px;
  font-size: 16px;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color var(--hover-timing) var(--animation-func),
    color var(--hover-timing) var(--animation-func);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.project-card {
  flex-basis: calc(100% / 3 - 2 * var(--default-gap));

  transition: box-shadow var(--hover-timing) var(--animation-func);
}

.project-card:not(:nth-child(3n)) {
  margin-right: var(--default-gap);
}

.project-card:not(:nth-child(-n + 3)) {
  margin-top: var(--default-gap);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-text-animation {
  position: relative;
  overflow: hidden;
}

.card-text-animation::before {
  display: inline-block;
  content: '';

  position: absolute;
  background-color: var(--blue);
  opacity: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  transition: opacity var(--hover-timing) var(--animation-func),
    transform var(--hover-timing) var(--animation-func);
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: transform var(--hover-timing) var(--animation-func);
}

.card-text {
  position: absolute;
  padding: 0 20px;

  font-size: 18px;
  color: var(--white);
  line-height: 1.8;
  letter-spacing: 0.7px;
  opacity: 0;

  transition: opacity var(--hover-timing) var(--animation-func);
}

.project-card:hover .card-text-animation::before {
  opacity: 0.9;
  transform: translateY(0);
}

.project-card:hover .card-text {
  opacity: 1;
}

.project-card:hover .text-container {
  transform: translateY(0);
}

.project-card-info {
  padding: 20px 24px;
  box-sizing: border-box;
  border: 1px solid var(--card-border);
  border-top: 0;
}

.project-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.project-item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--grey);
  margin: 0;
  padding: 0;
}
